<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="main">{{i18n "application.name"}}</a>
        </div>
        <div class="ux-logout" style="display: none;" >
            <a href="/logout" class="d-flex align-items-center justify-content-center"><i class="fa logout-icon"></i></a>
            <button class="btn btn-primary" style="display: none;" title="{{userName}}">
                <div class="inset">
                    <img class="ux-avatar" src="" height="20" width="20">
                </div>
                <div>Logout</div>
            </button>
        </div>
    </div>
</nav>
<div class="container">
    <div class="ux-content-area"></div>
</div>
